body {
	background-image: url("../img/background_6.jpg")!important;
	 background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    margin: 0;
    padding: 0;
}

video {
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-color: white;
    background-size: cover;
    transition: 1s opacity;
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

.tests{
    color: white;
    text-align: center;
    font-size: 48px;
    margin-top: 5%;
    font-family: 'Suez One', serif;
}

.form-signin {
	color: white;
	max-width: 330px;
	margin: 15% auto;
}
.test-form{
    height: 250px!important;
    max-width: 330px;
    margin: 5% auto;
    overflow:auto;
}
.sr-only{
	position: unset;
}

#descr {
	background-color: white;
	margin: 15% 10%;
	padding-bottom: 4%;
	color: black;
	font-size: 20px;
	text-align: center;
	display: none;
 	font-family: 'Suez One', bold;
	padding-left: 3%;
	padding-right: 3%;
 border-radius: 25px;



 /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(255, 255, 255, 0.8);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

#descr span {
	font-size: 50px;

}

#descr p {
	font-family: 'lato', serif;

}

.btn-primary:hover {
background-color: /*#f90533*/ green;

 -webkit-transition: background 0.5s linear;
        -moz-transition: background 0.5s linear;
        -ms-transition: background 0.5s linear;
        -o-transition: background 0.5s linear;
        transition: background 0.5s linear;
}

#testList {
font-family: 'lato', serif;
font-size: 20px;
text-align: center;
}

#descrShort {
color: red;
}

#descr p span {
font-family: 'lato', bold;
font-size: 20px;
display: inline-block;
padding: 10px;
color: white;

 border-radius: 25px;



/* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(28, 126, 195, 0.8);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.btn-logOut {

background-color: #ae0424;

}

.btn-logOut:hover {
background-color: #f90533 !important;

 -webkit-transition: background 0.5s linear;
        -moz-transition: background 0.5s linear;
        -ms-transition: background 0.5s linear;
        -o-transition: background 0.5s linear;
        transition: background 0.5s linear;
}
