<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
	<div class="div-square">
		<a href="/acp/#/user-tests"> <i
			class="fa fa-circle-o-notch fa-5x"></i>
			<h4>User Tests</h4>
		</a>
	</div>


</div>

<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
	<div class="div-square">
		<a href="/acp/#/create-test"> <i class="fa fa-clipboard fa-5x"></i>
			<h4>New Test</h4>
		</a>
	</div>


</div>
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
	<div class="div-square">
		<a href="/acp/#/users"> <i class="fa fa-users fa-5x"></i>
			<h4>See Users</h4>
		</a>
	</div>


</div>
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
	<div class="div-square">
		<a href="/acp/#/users"> <i class="fa fa-user fa-5x"></i>
			<h4>Register User</h4>
		</a>
	</div>
</div>
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
	<div class="div-square">
		<a href="/acp/#/test-list"> <i class="fa fa-comments-o fa-5x"></i>
			<h4>Tests</h4>
		</a>
	</div>

</div>
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
	<div class="div-square">
		<a href="/acp/#/admin_main"> <i class="fa fa-gear fa-5x"></i>
			<h4>Settings</h4>
		</a>
	</div>

</div>