<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/u/bs/jqc-1.12.3,dt-1.10.12/datatables.min.css" />
<script type="text/javascript"
	src="https://cdn.datatables.net/u/bs/jqc-1.12.3,dt-1.10.12/datatables.min.js"></script>
<div class="row">
	<div class="col-md-12">
		<h2>USER TESTS</h2>
	</div>
</div>
<!-- /. ROW  -->
<hr>
<div ng-controller="UserTestController">

	
		
	<div class="row">
		<div class="add_user_row">
			<h4>All user tests</h4>
			<hr>
			<div class="input-group">
				<span class="input-group-addon"> <span
					class="glyphicon glyphicon-search"></span>
				</span> <input type="text" class="form-control" ng-model="searchInput">
			</div>
			<table id="user_test_table"
				class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>Username</th>
						<th>Test</th>
						<th>View Test</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="userAnswer in userAnswers | filter:searchInput">
						<td>{{userAnswer.tests.id}}</td>
						<td>{{userAnswer.user.email}}</td>
						<td>{{userAnswer.tests.title}}</td>
						<td><input type="button" class="btn btn-success" value="View"
							ng-click=" Edit( userAnswer )"></td>
					</tr>
				</tbody>
			</table>
			<hr>
			
			<div ng-show="showUserAnswers">
			<table id="user_answer_table"
				class="table table-striped table-bordered table-hover" >
				<thead>
					<tr>
						<th>#</th>
						<th>Answer</th>
						<th>Image Answer</th>
						<th>Question</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="currentUserAnswer in currentUserAnswers">
						<td>{{currentUserAnswer.id}}</td>
						<td>{{currentUserAnswer.answer}}</td>
						<td>
							<img src={{currentUserAnswer.imageAnswer}}>
						</td>
						<td>{{currentUserAnswer.testsQuestions.question}}</td>
					</tr>
				</tbody>
			</table>
			</div>
			
		</div>
	</div>
</div>
<!-- /. ROW  -->
<hr>
<div class="row"></div>
<script type="text/javascript"
	src="/admin/resources/js/jquery-1.10.2.js" charset="utf-8"></script>
