    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/u/bs/jqc-1.12.3,dt-1.10.12/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/u/bs/jqc-1.12.3,dt-1.10.12/datatables.min.js"></script>
                <div class="row">
                    <div class="col-md-12">
                        <h2>TESTS</h2>
                    </div>
                </div>
                <!-- /. ROW  -->
             
             <hr>
           
            
               
                <!-- /. ROW  -->
	<div ng-controller="AdminController">
	
				
	<div class="row">
		<div class="input-group">
		<span class="input-group-addon"> <span
			class="glyphicon glyphicon-search"></span>
		</span> <input type="text" class="form-control" ng-model="searchInput">
		</div>
		
		<table id="test_table"
			class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Test Title</th>
					<th>Date</th>
					<th>View Question</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="test in tests | filter:searchInput">
					<td>{{test.id}}</td>
					<td>{{test.title}}</td>
					<td>{{test.date}}</td>
					<td><input type="button" value="View" ng-click=" Edit( test )"
						style="text-decoration: none; color: white; background-color: #428bca; padding: 4px; border-radius: 28px;"></td>
			</tbody>
		</table>

		<hr>

		<table id="test_question_table"
			class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Choice</th>
					<th>Question</th>
					<th>Delete Choice</th>
					<th>Delete Question</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="questionChoice in questionChoices">
					<td>{{questionChoice.id}}</td>
					<td>{{questionChoice.questionOption}}</td>
					<td>{{questionChoice.testQuestion.question}}</td>
					<td><input type="button" value="Delete"
						ng-click=" Delete( questionChoice )"
						style="text-decoration: none; color: white; background-color: #428bca; padding: 4px; border-radius: 28px;"></td>
					<td><input type="button" value="Delete"
						ng-click=" DeleteQuestion( questionChoice  )"
						style="text-decoration: none; color: white; background-color: #428bca; padding: 4px; border-radius: 28px;"></td>
				</tr>
			</tbody>
		</table>

	</div>
</div>
<!-- /. ROW  -->
  					<div class="row">
                      <div class="col-lg-4 col-md-4">
                        <div class="form-group">
            
                        </div>
                    </div>
                
                 
                </div>
                <hr>
  	<script type="text/javascript" src="/admin/resources/js/jquery-1.10.2.js" charset="utf-8"></script>
  