  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/u/bs/jqc-1.12.3,dt-1.10.12/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/u/bs/jqc-1.12.3,dt-1.10.12/datatables.min.js"></script>
                <div class="row">
                    <div class="col-md-12">
                        <h2>TESTS</h2>
                    </div>
                </div>
                <!-- /. ROW  -->
             
             <hr>
           
            
               
                <!-- /. ROW  -->

                  <div class="row">
                        <table id="user_table" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Test Title</th>
                                    <th>Date</th>
                                    <th>Add Question</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>English Test</td>
                                    <td>02-07-2016</td>
                                    <td><a href="#" id="" class="viewBtn" style="text-decoration:none; color:white; background-color:#428bca; padding:4px; border-radius: 28px;" role="button">View</a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                     <td>English Test</td>
                                    <td>02-07-2016</td>
                                  <td><a href="#" id="" class="viewBtn" style="text-decoration:none; color:white; background-color:#428bca; padding:4px; border-radius: 28px;" role="button">View</a></td>
                                    
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>English Test</td>
                                    <td>02-07-2016</td>
                               <td><a href="#" id="" class="viewBtn" style="text-decoration:none; color:white; background-color:#428bca; padding:4px; border-radius: 28px;" role="button">View</a></td>
                                    
                                </tr>
                                <tr>
                                    <td>4</td>
                                     <td>English Test</td>
                                    <td>02-07-2016</td>
                                   <td><a href="#" id="" class="viewBtn" style="text-decoration:none; color:white; background-color:#428bca; padding:4px; border-radius: 28px;" role="button">View</a></td>
                                    
                                </tr>
                                 
                                
                            </tbody>
                        </table>
                </div>
                <!-- /. ROW  -->
  					<div class="row">
                      <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <h2 class="test_title">ENGLISH TEST</h2>
            
                        </div>
                    </div>
                
                 
                </div>
                <hr>
                <label>Do you have an animal?</label>
  	<script type="text/javascript" src="/admin/resources/js/jquery-1.10.2.js" charset="utf-8"></script>
  