<style>
body { background-image: none; }
</style>
<div class="container-fluid">
	<div class="row">
    	<div class="col-md-7">
        	<div id="leftBlock">
            	<div class="descr" ng-show="show_desc">
            		<br><span>{{test_title}}</span><br><p>{{test_description}}</p><br><p>Try this test!</p>
            	</div>
			</div>
		</div>
		<div class="col-md-5" style="margin-top:4%;">
			<h1 class="tests">Available Tests</h1>
			<form method="get" ng-submit="startTest()">
				<select name="select-list" id="testList" multiple class="form-control test-form" ng-model="selectedTest">
					<option ng-repeat="test in test_list" value="{{test.id}}" ng-click="showTestDescription( test.title, test.description )">{{test.title}}</option>
				</select>
				<div class="container-fluid" style="max-width:335px;">
					<a ng-show="haveTestInProgress" class="btn btn-danger btn-sm btn-block" href="/#/question">Test in progress</a>
					<button type="submit" value="submit" id="submit" class="btn btn-primary btn-sm btn-block">Start</button>
					<a ng-controller="LoginOutController" ng-click="logout()" class="btn btn-danger btn-sm btn-block">Log Out</a>
				</div>
			</form>
		</div>
	</div>
</div>