
<div class="modal" id="myModal" style="display:block;margin-top:2%;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Test information</h4>
      </div>
      <div class="modal-body">
       Tests ir beidzies!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary" ng-click="backToStart()">Back to Start</button>
      </div>
    </div>
  </div>
</div>