
<div class="modal" id="myModal" style="display:block;margin-top:2%;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Test information</h4>
      </div>
      <div class="modal-body">
        tests ir beidzies.... lai nokljutu uz sakumu, spiezam dotie uz sakumu...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" href="/#/home">Back to Start</button>
      </div>
    </div>
  </div>
</div>