<fieldset class="form-group">
	<h4>Multi Select</h4>
	<div class="checkbox">
		<label><input type="checkbox" name="checkbox">Option 1</label>
	</div>
	<div class="checkbox">
		<label><input type="checkbox" name="checkbox">Option 2</label>
	</div>
	<div class="checkbox">
		<label><input type="checkbox" name="checkbox">Option 3</label>
	</div>
	<div class="checkbox">
		<label><input type="checkbox" name="checkbox">Option 4</label>
	</div>
	<div class="checkbox">
		<label><input type="checkbox" name="checkbox">Option 5</label>
	</div>
</fieldset>