.project
pom.xml
.settings
application.properties
.classpath
.springBeans
/target/
src/main/resources/static/resources/js/jquery-1.10.2.js
src/main/resources/static/templates/admin_main.html
src/main/resources/static/templates/admin_main.html