body {
	background-image: url("../img/background_6.jpg")!important;
	     background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  top: 0; 
  left: 0; 

	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;

    margin: 0;
    padding: 0;
}
